

h1, h2, h3, h4, h5{
    margin: 0px;
    padding: 3px;
}
h1{
    background-color:mediumaquamarine;
    padding: 0px;
    margin: 0px;
    
}
nav{
    background-color: brown;
    padding: 0px;
    margin: 0px;
}
section{
    background-color: yellow;
    padding: 25px;
    width: 70%;
}
article{
    background-color: orange;
    margin: 10px, 10px, 2px, 10px;
    
    
}
footer{
    background-color: lightskyblue;
    padding: 0px;
    margin: 0px;
}
aside{
    background-color: gainsboro;
    width: 30%;
}

div{
    display: flex;
    
    
}

